<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #8e0b81;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #520545;
        }

        .error {
            color: red;
            margin-bottom: 15px;
            text-align: center;
        }

        @media (max-width: 400px) {
            form {
                padding: 15px;
            }

            input[type="text"],
            input[type="password"] {
                padding: 8px;
            }

            input[type="submit"] {
                padding: 8px;
            }
        }
    </style>
</head>
<body>
    <form action="/home" method="post">
        <h2>Login Form</h2>

        

        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= username %>">

        <% if (usernameError) { %>
            <div class="error"><%= usernameError %></div>
        <% } %>


       
 

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="<%= password %>">

        
       <% if (passwordError) { %>
        <div class="error"><%= passwordError %></div>
    <% } %>


      

        <input type="submit" value="Submit">
    </form>
</body>
</html>
